/* Author: Pierre Tran
Date: 4/17/2023 */
#pieChart{

    margin-top: 0;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;

    border-color: black;
    border-style: solid;
    border-width: .5vh;
    width: 50%;
    height: 94%;

}
#scatterTitle
{
    text-align: center;
}